@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("https://xrkmed.com/assets/images/background.png");
    background-attachment: fixed;
    position: static;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    line-height: 1.5rem;
    @apply bg-gray-900;
    @apply text-slate-100
}